<div class="row">
  <div class="col-xs-12">
    <img alt=""
         class="img-fluid"
         src="">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown"
         data-bs-theme="dark">
      <button aria-expanded="false"
              class="btn btn-dark dropdown-toggle"
              data-bs-toggle="dropdown"
              type="button">Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item"
               href="#">To Shopping List</a></li>
        <li><a class="dropdown-item"
               href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item"
               href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Description</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Ingredients</h2>
  </div>
</div>
